.header {
	background-color: #2d5986;
	border: 1px solid #2d5986;
	padding: 1rem;
	display: flex;
	align-items: center;

	&__logo {
		position: relative;
		display: inline;
		font-size: 3rem;
		font-family: 'Turret Road', cursive;
		padding: 0 3rem;
		color: #fff;
		@include respond(530) {
			font-size: 2rem;
			padding: 0;
		}
		.fa-bolt {
			color: #ffcc00;
		}
	}
}
.container {
	padding: 2.5rem 1.2rem;
}
